<!DOCTYPE html>
<html>
  <head>
    <title>Флэшкарточкер</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.slim.min.js' %>
  </head>

  <body>
  <section id="container">

    <header class="clearfix d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h1 class="my-0 mr-md-auto font-weight-normal">Флэшкарточкер</h1>
      <ul class="navigation-links my-2 my-md-0 mr-md-3">
        <li><%= link_to "Все карточки", "#", class: "p-2 text-dark" %></li>
        <li><%= link_to "Добавить карточку", "#", class: "p-2 text-dark" %></li>
      </ul>
    </header>
    <section>
      <%= yield %>
    </section>
  </section>
  </body>
</html>
